/**
 * A default typgraphic application to each element.
 * The font and line-hights are based on the font size at the current element.
 */
html
{
  background-color: @background;
  > body
  {
      font-size: 62.5%;
      line-height: 2em;
      width: 100%;

      h1{.font-reset(3.2);}
      h2{.font-reset(2.4);}
      h3{.font-reset(1.872);}
      h4{.font-reset(1.6);}
      h5{.font-reset(1.32);}
      h6{.font-reset(1.2);}

      .title
      {
        .font-reset(2.24);
        font-weight: bold;
      }

      // Font size of minimum 16px for body copy
      label, p, strong, aside, ul, ol, a
      {
        font-size: 1.6em;

        label, p, strong, aside, ul, ol, a{font-size: 1em;}
      }

      em {font-size: 1.2em;}

      aside, sup, sub{font-size: 0.9em;}
      small{font-size: 0.7em;}

      strong, bold{font-weight: bold;}
      em, i{font-style: italic;}

      p{margin-bottom: 1.875em;}

      ul, ol
      {
          margin-bottom: 1.875em;
          margin-left: 4 - @gutterSize * .5px;
          font-size: 1.6em;
      }

      ul
      {list-style: square outside;}

      ol{list-style: decimal outside;}

      li
      {
          padding-left: -4 + @gutterSize * .5em;

          > ol, ul
          {
              margin-left: 4+ (@gutterSize * .5px) + (((@grid-width - (@gutterSize)) - ( @gutterSize * @grid-columns)) / @grid-columns);
          }
      }

      blockquote
      {
          margin: 1em 2em;
          padding-left: 10px;
          text-indent: -0.4em;
          font-style: italic;
          font-size: 1.6em;

          author
          {
              display: block;
              font-weight: bold;
              font-style: normal;
          }
      }

      a
      {
        cursor: pointer;
        display: inline-block;
        padding: .25em .5em;

        > *{cursor: pointer;}
      }
  }
}

/**
* resets the font size and line height
**/
.font-reset(@size : 1.875, @base : 3.2)
{
  font-size: @size * 1em;
  line-height: (@base/@size) * 1em;
  margin-bottom: (@base/@size) * 1em;
}