#effortless
{
    /**
    * Text related modifiers
    */
    #text
    {
      

    /**
    * Border related modifiers
    */
    #border
    {
        /**
        * Gives an element a rounded border
        **/
        .rounded(@size : 1px, @type : solid, @colour : black, @radius : @corner-radius){#effortless > #border > .rounded(@size, @type, @colour, @radius, @radius, @radius, @radius);}
        .rounded(@size : 1px, @type : solid, @colour : black, @left, @right){#effortless > #border > .rounded(@size, @type, @colour, @left, @right, @right, @left);}
        .rounded(@size : 1px, @type : solid, @colour : black, @topLeft, @topRight, @bottomRight, @bottomLeft)
        {
            border: @size @type @colour;
            #effortless > #background > .rounded(@topLeft, @topRight, @bottomRight, @bottomLeft);
        }
    }


    


    /**
    * Animation helpers
    **/
    #animation
    {
        .bezier(@p1X: 0, @p1Y: 0, @p2X: 1, @p2Y: 1)
        {
            transition-timing-function: bezier(@p1X, @p1Y, @p2X, @p2Y);
            -moz-transition-timing-function: bezier(@p1X, @p1Y, @p2X, @p2Y);
            -webkit-transition-timing-function: bezier(@p1X, @p1Y, @p2X, @p2Y);
            -o-transition-timing-function: bezier(@p1X, @p1Y, @p2X, @p2Y);
        }

        .period(@millis: 500)
        {
            @acutalMillis: @millis * 1ms;
            transition-duration: @acutalMillis;
            -moz-transition-duration: @acutalMillis; /* Firefox 4 */
            -webkit-transition-duration: @acutalMillis; /* Safari and Chrome */
            -o-transition-duration: @acutalMillis; /* Opera */
        }

        .linear(@millis: 500)
        {
            #effortless > #animation > .period(@millis);
            #effortless > #animation > .bezier(0, 0, 1, 1);
        }

        .ease(@millis: 500)
        {
            #effortless > #animation > .period(@millis);
            #effortless > #animation > .bezier(0.25, 0.1, 0.25, 1);
        }

        .ease-in(@millis: 500)
        {
            #effortless > #animation > .period(@millis);
            #effortless > #animation > .bezier(0.42, 0, 1, 1);
        }

        .ease-out(@millis: 500)
        {
            #effortless > #animation > .period(@millis);
            #effortless > #animation > .bezier(0, 0, 0.58, 1);
        }

        .ease-in-out(@millis: 500)
        {
            #effortless > #animation > .period(@millis);
            #effortless > #animation > .bezier(0.42, 0, 0.58, 1);
        }
    }
}

/**
* Global helpers
**/


.icon(@icon) {
  .icon-FontAwesome();
  content: @icon;
}

.icon-FontAwesome() {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em; // fixes ie7 issues
}
