/**
 * Default button styles and shortcuts
 */
#effortless
{
    #animation
    {
      .animate()
      {
        -webkit-transition: background-color 500ms ease-out 1s;
        -moz-transition: background-color 500ms ease-out 1s;
        -o-transition: background-color 500ms ease-out 1s;
        transition: background-color 500ms ease-out 1s;
      }
    }
}