// Make sure we use the full height, this helps to plant the footer
body, html
{
  height: 100%;
  width: 100%;
  min-width: @break-xxs-max;
}

*
{
    -moz-box-sizing : border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// Fixes for firefox
span{display: inline-block;}  
@-moz-document url-prefix() {fieldset { display: table-cell; }}

// Commonly used mixins
.center
{
    #effortless > #layout > .center;
}

.block
{
  display: block;
}

.more:after{content: "\00A0\000BB";}

#effortless
{
    #layout
    {
        /**
        * Horizontally Center the element
        **/
        .center()
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .center-content-vertical()
        {
            text-align: center;

            &:before{
                content: '';
                display: inline-block;
                height: 100%;
                vertical-align: middle;
                margin-right: -0.25em;
            }

            > *
            {
                display: inline-block;
                vertical-align: middle;
            }
        }

        /**
        *  Helper for setting the minimum size of an element
        */
        .min-size(@minSize)
        {
            #effortless > #layout > .min-size(@minSize, @minSize);
        }

        /**
        *  Helper for setting the minimum size of an element
        */
        .min-size(@minWidth, @minHeight)
        {
            #effortless > #layout > .min-width(@minWidth);
            #effortless > #layout > .min-height(@minHeight);
        }

        /**
        * Cross browser rules for setting the minimum width of an element
        */
        .min-width(@minWidth)
        {
            min-width: @minWidth;
        }


        /**
        * Cross browser rules for setting the minimum height of an element
        */
        .min-height(@minHeight)
        {
            min-height: @minHeight;
        }

        /**
        *  Helper for setting the maximum size of an element
        */
        .max-size(@maxSize)
        {
            #effortless > #layout > .max-size(@maxSize, @maxSize);
        }

        /**
        *  Helper for setting the maximum size of an element
        */
        .max-size(@maxWidth, @maxHeight)
        {
            #effortless > #layout > .max-width(@maxWidth);
            #effortless > #layout > .max-height(@maxHeight);
        }

        /**
        * Cross browser rules for setting the maximum height of an element
        */
        .max-height(@maxHeight : 600px)
        {
            overflow: hidden;
            @unitless : unit(@maxHeight);
            max-height: ~"@{maxHeight}"; height:~"expression(document.body.clientHeight > @{unitless} ? '@{maxHeight}': 'auto' )";
        }

        /**
        * Cross browser rules for setting the maximum width of an element
        */
        .max-width(@maxWidth : 600px)
        {
            overflow: hidden;
            @unitless : unit(@maxHeight);
            max-width: ~"@{maxWidth}"; height:~"expression(document.body.clientWidth > @{unitless} ? '@{maxWidth}': 'auto' )";
        }

        .size(@width, @height)
        {
            width: @width;
            height: @height;
        }

        .size(@size)
        {
            #effortless > #layout > .size(@size, @size);
        }
    }
}