/***
* Core typographical rules for effort.less
***/

@font-base: 3.2em;
@font-xxlarge: (@font-base * 1);
@font-xlarge: (@font-base * .75);
@font-large: (@font-base * .585);
@font-medium: (@font-base * .5);
@font-small: (@font-base * .4125);
@font-xsmall: (@font-base * .375);
@font-xxsmall: (@font-base * .25);

.font-emphasis{#effortless > #typography > .font-emphasis}

.font-default{#effortless > #typography > .font-default}

.font-header{#effortless > #typography > .font-header}

html
{
  body
  {
    @base-font-size: 2.5em;
    .font-default;

    font-size: @font-size;
    line-height: 2em;

    h1{#effortless > #typography > .font-reset(@font-xxlarge);}
    h2{#effortless > #typography > .font-reset(@font-xlarge);}
    h3{#effortless > #typography > .font-reset(@font-large);}
    h4{#effortless > #typography > .font-reset(@font-medium);}
    h5{#effortless > #typography > .font-reset(@font-small);}
    h6{#effortless > #typography > .font-reset(@font-xsmall);}

    // Font size of minimum 16px for body copy
    label, p, b, strong, ul, ol, a, form, pre, span, div
    {
      font-size: @base-font-size;

      label, p, b, strong, ul, ol, a, form, pre, span, div
      {
        line-height: 1.05em;
        font-size: 1em;
      }
    }

    aside, sup, sub, small{font-size: 0.9em;}

    strong, b{font-weight: bold;}
    em, i
    {
        font-style: italic;
        .font-emphasis;
    }

    p{margin-bottom: @font-medium;}

    h1, h2, h3, h4, h5, h6
    {
        .font-header;
        padding-top: 0px;
        margin-top: 0px;
        margin-bottom: (@font-medium/2);
    }

    label
    {
        b, strong
        {
            font-size: 1.2em;
        }
    }

    /*


    

    ul{list-style: square outside;}

    ol{list-style: decimal outside;}

    blockquote
    {
        margin: 1em 2em;
        padding-left: 10px;
        text-indent: -0.4em;
        font-style: italic;
        font-size: 1.6em;

        author
        {
            display: block;
            font-weight: bold;
            font-style: normal;
        }
    }

    a
    {
      cursor: pointer;
      display: inline-block;
      padding: .25em .5em;

      > *{cursor: pointer;}
    }

    p a{padding: 0;}
    */
/*


    ul, ol
    {
        margin-bottom: 1.875em;
        margin-left: 4 - @gutterSize * .5px;
        font-size: 1.6em;
    }

    li
    {
        padding-left: -4 + @gutterSize * .5em;

        > ol, ul
        {
            margin-left: 4+ (@gutterSize * .5px) + (((@grid-width - (@gutterSize)) - ( @gutterSize * @grid-columns)) / @grid-columns);
        }
    }

    
    */
  }
}




/***
* Mixins
****/
#effortless
{
    #typography
    {
        /**
         * Makes the text just a little bit cleaner
         */
        .antialiased()
        {
            -webkit-font-smoothing: antialiased;
            -moz-font-smoothing: antialiased;
            -o-font-smoothing: antialiased;
            -ms-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
        }

        /**
        * resets the font size and line height
        **/
        .font-reset(@size : @font-medium, @base : @font-base)
        {
          font-size: @size * 1em;
          line-height: (@base/@size) * 1em;
          margin-bottom: (@base/@size) * 1em;
        }

        /**
        * Default font for all text
        **/
        .font-default
        {
          font-family: @font-family-default;
          #effortless > #typography > .antialiased;
        }

        /**
        * Emphasis and heading font
        **/
        .font-emphasis
        {
          font-family: @font-family-emphasis;
          #effortless > #typography > .antialiased;
        }

        /**
        * heading font
        **/
        .font-header
        {
            font-family: @font-family-header;
            #effortless > #typography > .antialiased;
        }
    }
}