// Paths to the libraries
@path-font-awesome: '../libs/font-awesome/less/font-awesome';
@path-bootstrap: '../../node_modules/bootstrap/less/bootstrap';

@font-family-default: Geneva, Tahoma, Verdana, sans-serif;
@font-family-emphasis: 'RomantiquesRegular', Georgia, Times, "Times New Roman", serif;
@font-family-header: Tahoma, Verdana, Segoe, sans-serif;






@color-split-angle: 30;
@grid-width: 768;
