include ../mixins/_navMenu

//- Wrap the entire content with the theme wrapper
div.theme-wrapper
    block header
        +horizontalNavbar('/', appLogo, appName, 'navbar-side-collapse')(class='verticalSpacer')
            +navContainer
                +navSection(class='hidden-sm')

                    // Toggle button to minimise the side nav
                    +toggleButton('Minimise Side Nav', 'navbar-side-collapse')(class='navbar-left')

                    +navIconDropdown('fa-bell', 'notifications', 8)(class='notifications')
                        +navDropdownHeader('You have 6 new notifications')
                        +navDropdownNotification('fa-comment', 'New comment on \'Awesome Article\'', '13 min.')
                        +navDropdownNotification('fa-plus', 'New user registration', '13 min.')
                        +navDropdownNotification('fa-envelope', 'New message from George', '13 min.')
                        +navDropdownNotification('fa-shopping-cart', 'New purchase', '13 min.')
                        +navDropdownNotification('fa-eye', 'New order', '13 min.')
                        +navDropdownFooter('View all notifications')

                    +navIconDropdown('fa-clock-o', 'messages', 16)(class='messages')
                        +navDropdownMessage('/resources/profiles/a1.jpg', 'George Clooney', 'Look, just because I don\'t be givin\' no man a foot massage don\'t make it right for Marsellus to throw...', '13 min.')
                        +navDropdownMessage('/resources/profiles/a2.jpg', 'Emma Watson', 'Look, just because I don\'t be givin\' no man a foot massage don\'t make it right for Marsellus to throw...', '13 min.')
                        +navDropdownMessage('/resources/profiles/a3.jpg', 'Robert Downey Jr.', 'Look, just because I don\'t be givin\' no man a foot massage don\'t make it right for Marsellus to throw...', '13 min.')
                        +navDropdownFooter('View all messages')

                    +navDropdown('New Item')
                        +navDropdownIconItem('fa-archive', 'New Product')
                        +navDropdownIconItem('fa-shopping-cart', 'New Order')
                        +navDropdownIconItem('fa-sitemap', 'New Category')
                        +navDropdownIconItem('fa-file-text', 'New Page')

                    +navDropdown('English')
                        +navDropdownItem('Spanish')
                        +navDropdownItem('German')
                        +navDropdownItem('Italian')

            +navContainerConstant('navbar-header-profile')
                +navSection
                    +navSearch
                    +navProfile('/resources/profiles/a4.jpg', 'Scarlett Johansson')(dropdownClass="dropdown-menu-right")
                    +navLogout


    //- Wrap each individual page with the page wrapper
    .container-fluid.page-wrapper
        .row
            +verticalNavbar
                +navSection
                    +navProfile('/resources/profiles/a5.jpg', 'Scarlett Johansson', 'online')(class="hidden-sm hidden-xs", dropdownClass="dropdown-menu-right")

            .content-wrapper
                

