include ../mixins/_navMenu

//- Wrap the entire content with the theme wrapper
div.theme-wrapper
    block header
        +horizontalNavbar('/', '/resources/effort.less.png', 'effort.less')
            +horizontalNavSection()(class="pull-left hidden-sm hidden-xs")

    //- Wrap each individual page with the page wrapper
    .container.page-wrapper
        .row

            .content-wrapper
                .row
                    .col-lg-12
                        .slide-main-container
                            .slide-main-animation
