include ../mixins/_navMenu

- var sidebarClass = 'navbar-side-collapse';

//- Wrap the entire content with the theme wrapper
div.theme-wrapper
    block header
        +horizontalNavbar('/', appLogo, appName, sidebarClass)(class='verticalSpacer')
            +navContainer
                +navSection(class='hidden-sm')

                    // Toggle button to minimise the side nav
                    +toggleButton(sidebarClass, 'Minimise Side Nav')(class='navbar-left')

                    +navIconDropdown('fa-bell', 'notifications', 8)(class='notifications')
                        +navDropdownHeader('You have 6 new notifications')
                        +navDropdownNotification('fa-comment', 'New comment on \'Awesome Article\'', '13 min.')
                        +navDropdownNotification('fa-plus', 'New user registration', '13 min.')
                        +navDropdownNotification('fa-envelope', 'New message from George', '13 min.')
                        +navDropdownNotification('fa-shopping-cart', 'New purchase', '13 min.')
                        +navDropdownNotification('fa-eye', 'New order', '13 min.')
                        +navDropdownFooter('View all notifications')

                    +navIconDropdown('fa-clock-o', 'messages', 16)(class='messages')
                        +navDropdownMessage('/resources/profiles/a1.jpg', 'George Clooney', 'Look, just because I don\'t be givin\' no man a foot massage don\'t make it right for Marsellus to throw...', '13 min.')
                        +navDropdownMessage('/resources/profiles/a2.jpg', 'Emma Watson', 'Look, just because I don\'t be givin\' no man a foot massage don\'t make it right for Marsellus to throw...', '13 min.')
                        +navDropdownMessage('/resources/profiles/a3.jpg', 'Robert Downey Jr.', 'Look, just because I don\'t be givin\' no man a foot massage don\'t make it right for Marsellus to throw...', '13 min.')
                        +navDropdownFooter('View all messages')

                    +navDropdown('New Item')
                        +navDropdownIconItem('fa-archive', 'New Product')
                        +navDropdownIconItem('fa-shopping-cart', 'New Order')
                        +navDropdownIconItem('fa-sitemap', 'New Category')
                        +navDropdownIconItem('fa-file-text', 'New Page')

                    +navDropdown('English')
                        +navDropdownItem('Spanish')
                        +navDropdownItem('German')
                        +navDropdownItem('Italian')

            +navContainerConstant('navbar-header-profile')
                +navSection
                    +navSearch
                    +navProfile('/resources/profiles/a4.jpg', 'Scarlett Johansson')(dropdownClass="dropdown-menu-right")
                    +navLogout


    //- Wrap each individual page with the page wrapper
    .container-fluid.page-wrapper
        .row
            +verticalNavbar(class=sidebarClass)
                +navSection
                    +navProfile('/resources/profiles/a5.jpg', 'Scarlett Johansson', 'online')(class="hidden-sm hidden-xs", dropdownClass="dropdown-menu-right")

                    +navHeader('Navigation')

                    +verticalNavItem('Dashboard', 'fa-dashboard', '28')(badgeClass="badge-info")

                    +verticalNavDropdown('Tables', 'fa-table')
                        +verticalNavItem('Simple')
                        +verticalNavItem('Advanced')
                        +verticalNavItem('Users')
                        +verticalNavItem('FooTables')

                    +verticalNavDropdown('Email', 'fa-envelope-o')
                        +verticalNavItem('Inbox')
                        +verticalNavItem('Detail')
                        +verticalNavItem('Compose')

                    +verticalNavDropdown('Graphs', 'fa-bar-chart')
                        +verticalNavItem('Morris & Mixed')
                        +verticalNavItem('Flot')
                        +verticalNavItem('Dygraphs')
                        +verticalNavItem('xCharts')

                    +verticalNavItem('Widgets', 'fa-th', 'New')(badgeClass="badge-success")

                    +verticalNavDropdown('Pages', 'fa-copy')
                        +verticalNavItem('Calendar')
                        +verticalNavItem('Gallery')
                        +verticalNavItem('Gallery v2')
                        +verticalNavItem('Pricing')
                        +verticalNavItem('Projects')
                        +verticalNavItem('Team Members')
                        +verticalNavItem('Timeline')
                        +verticalNavItem('Timeline Grid')
                        +verticalNavItem('User Profile')
                        +verticalNavItem('Search Results')
                        +verticalNavItem('Invoice')
                        +verticalNavItem('Tour Layout')

                    +navHeader('Components')

                    +verticalNavDropdown('Forms', 'fa-edit')
                        +verticalNavItem('Elements')
                        +verticalNavItem('X-Editable')
                        +verticalNavItem('Wizard')
                        +verticalNavItem('Wizard popup')
                        +verticalNavItem('WYSIWG')
                        +verticalNavItem('WYSIWG Summernote')
                        +verticalNavItem('WYSIWG CKEditor')
                        +verticalNavItem('Multiple File Upload')

                    +verticalNavDropdown('UI Kit', 'fa-desktop')
                        +verticalNavItem('Elements')
                        +verticalNavItem('Notifications & Alerts')
                        +verticalNavItem('Modals')
                        +verticalNavItem('Video')
                        +verticalNavItem('Icons')
                        +verticalNavItem('Nestable List')
                        +verticalNavItem('Typography')
                        +verticalNavItem('3 Level Menu')

                    +verticalNavItem('Google Maps', 'fa-table', 'Updated')(badgeClass="badge-danger")

                    +verticalNavDropdown('Extra Pages', 'fa-file')
                        +verticalNavItem('FAQ')
                        +verticalNavItem('Login')
                        +verticalNavItem('Login Full')
                        +verticalNavItem('Registration')
                        +verticalNavItem('Registration Full')
                        +verticalNavItem('Forgot Password')
                        +verticalNavItem('Forgot Password Full')
                        +verticalNavItem('Lock Screen')
                        +verticalNavItem('Lock Screen Full')
                        +verticalNavItem('Error 404')
                        +verticalNavItem('Error 404 Nested')
                        +verticalNavItem('Error 500')
                        +verticalNavItem('Grid')

                    +verticalNavItem('Extra Long Menu Item', 'fa-file', 'extra long badge content')(badgeClass="badge-danger")

            .content-wrapper
                

