footer
    .grid
      .row
        .column.three
            a(href="#", title="settings")
                i.fa.fa-cogs
        .column.six
            .paneSelector
            .paneSelector
            .paneSelector.selected
            .paneSelector
            .paneSelector
        .column.three
            .text-muted.credit
                a(href="http://www.icatalyst.co.uk") ICatalyst
                |  &copy; 2013