nav.navbar.navbar-static-top.navbar-inverse(role="navigation")
    .container
        .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target="#primary-nav-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="#")
                img(alt="effort.less", src="/resources/images/effort.less_16.png")
                |  effort.less
        #primary-nav-collapse.collapse.navbar-collapse
            ul.nav.navbar-nav
                li.active
                    a(href="#") Getting Started
                li
                    a(href="#") Examples lorem
