@import "_core";

@navWidth: (@thumbSize * 4.5);
@navBackground: darken(@@theme-header-background, 10%);
@buttonSize: 3rem;

// If we have included the navigation then we need to offset for a leftnav if there is one
.content-wrapper
{
    margin-left: @navWidth;
    
    @media @mq-landscape-and-smaller {
        margin-left: 0;
    }
}

// Also need to change the colour of the background to match the nav colour
.theme-wrapper
{
    background: @navBackground;
}

// Navigation bars
nav.navbar
{
    .setColor(@@theme-header-foreground, @@theme-header-background);
    border: none;
    .border-radius(0);
    #effortless > #shadow > .drop(0px, 1px, 3px, 0px, fadeout(@@theme-header-background, 80%));
    min-height: @thumbSize;
    margin-bottom: 0px;

    // Common properties in the nav sections
    .navbar-header, .navbar-container
    {
        img
        {
            .size(@buttonSize);
            margin-right: 1rem; 
        }

        a
        {
            .navbar-button;
            padding: 1rem;
        }

        button, .button
        {
            .navbar-button;
        }
    }

    .navbar-brand
    {
        img
        {
            display: inline-block;
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

    // Ensures the nav sections float cleanly
    .navbar-header
    {
        float: left;
    }

    .dropdown
    {
        vertical-align: top;

        a{.fa-caret-down{margin-left: .5rem;}}

        &.icon
        {
            a{padding-right: 0rem;}

            .badge
            {
                .bg-base;
                font-size: @font-tiny;
                line-height: (@font-xsmall - .1rem);
                .size(@font-xsmall);
                padding: 0;
                position: relative;
                top: -@font-tiny;
                left: -@font-tiny;
            }
        }
    }

    // Create a spacer so the vertical navbar fits in
    &.verticalSpacer
    {
        .navbar-brand
        {
            width: @navWidth;
            background-color: @navBackground;
        }
    }

    .navbar-toggle
    {
        .navbar-button;
        margin: 0;
        border: none;
        .border-radius(0);
    }
}

// Profile menues in the navbars
.dropdown.profile
{
    a.button{line-height: 0;}
}

.navbar-button
{
    #effortless > #layout > .min-size(@thumbSize);
    .setColor(@@theme-header-foreground, @@theme-header-background);
    line-height: @buttonSize;

    &:hover{.inverted;}
    &:active{.setColor(@@theme-header-foreground, @@theme-header-background);}
    &:focus{.setColor(@@theme-header-foreground, @@theme-header-background);}
}

// Used to mark navbar-navs that do not collapse when screen size is smaller
.nav-no-collapse
{
    display: inline-block;
    margin: 0;
    
    .navbar-nav
    {
        margin: 0;
        
        .dropdown{display: inline-block;}
    }
}

// Styling for the navigation dropdown menues

.navbar-nav .dropdown.open > .dropdown-menu
{
    .opacity(1);
    #effortless > #transform > .scale(1,1);
    visibility: visible;

    @media @mq-landscape-and-smaller
    {
        position: fixed!important;
        top: inherit!important;
        width: 100%!important;
        .border-radius(0);

        a{line-height: @thumbSize;}
    }
}

.dropdown .dropdown-menu
{
    .opacity(0);
    #effortless > #transform > .scale(1,0);
    transform-origin: top;
    visibility: hidden;
    display: block;
    #effortless > #animation > .animate(all, 0.1s);
    .setColor(@@theme-header-background, @@theme-header-foreground);
    padding: 0;

    li a
    {
        .setColor(@@theme-header-background, @@theme-header-foreground)!important;

        &:hover{.inverted}

        > i{margin-right: (@hPadding/2);}

        font-size: @font-xsmall;
    }

    .header, .footer
    {
        a
        {
            .bg-base!important;
            font-weight: bold;
        }

        .text-center;
    }

    .item
    {
        width: 100%;
        margin-right: (@thumbSize * 2);

        > a
        {
            display: block;

            > *
            {
                display: inline-block;
                vertical-align: top;
            }

            header
            {
                font-size: @font-xxsmall;
                font-weight: bold;
            }

            .content
            {
                #effortless > #layout > .max-width((@thumbSize * 4));
                font-size: @font-xxsmall;

                .content
                {
                    text-overflow: initial;
                    overflow: visible;
                    white-space: normal;
                }
            }

            .time
            {
                color: @color-accent1-base;
                font-size: @font-tiny;
                position: absolute;
                right: 1rem;
            }

            img
            {
                .border-radius(50%);
                 border: 3px solid @@theme-header-foreground;
            }
        }
    }
}


.messages.dropdown-menu .item{margin-right: (@thumbSize * 3);}

nav.navbar .dropdown.profile
{
    img
    {
        .border-radius(50%);
        border: 3px solid @brand-danger;

        // Remove the extra margin when the screen size is smaller
        @media @mq-landscape-and-smaller
        {
            margin-right: 0;
        }
    }

    .dropdown-toggle
    {
        span
        {
            max-width: (@thumbSize * 2);
            .text-overflow();
            font-size: @font-xxsmall;
            vertical-align: bottom;
            height: @buttonSize;
            line-height: @buttonSize;
        }
    }

    &.online
    {
        img{border-color: @brand-success;}
    }

    &.away
    {
        img{border-color: @brand-warning;}
    }
}

// Search field in the nav menu
nav.navbar .dropdown.nav-search
{
    &.open
    {
        .dropdown-search
        {
            #effortless > #transform > .scale(1,1);
        }
    }

    .dropdown-search
    {
        border: 0;
        #effortless > #transform > .scale(0,1);
        .border-radius(0);
        position: absolute;
        top: 0;
        transform-origin: right;
        box-shadow: none;


        form
        {
            padding: 0;
            margin: 0;
            border: 0;

            .form-group
            {
                .form-control
                {
                    #effortless > #text > .placeholder(lighten(@@theme-header-background, 20%));
                    height: @thumbSize;
                    padding-right: @thumbSize; 
                    border: 0;
                    .border-radius(0);

                    @media @mq-desktop-and-larger
                    {
                        width: 175px;
                    }

                    @media @mq-ultra
                    {
                        width: 375px;
                    }
                }

                .nav-search-icon
                {
                    position: absolute!important;
                    .size(@thumbSize);
                    line-height: @thumbSize;
                    text-align: center;
                    right: 0;
                    top: 0;
                }
            }
        }
    }
}

// Vertical navbar styling
nav.navbar-static-side
{
    .navbar-nav
    {
        margin: 0;
        padding-bottom: (@thumbSize * 1.5);
        .setColor(@@theme-header-foreground, @navBackground);
    }

    .content:focus, .content:active
    {
        outline: none;

        .submenu
        {
            #effortless > #transform > .scale(1,1);
            height: inherit;
            visibility: visible;
            padding-bottom: .5em;
        }

        .nav-indicator
        {
            #effortless > #transform > .transform();
            margin-top: 0!important;
        }
    }

    .nav-indicator
    {
        #effortless > #animation > .animate(all, 0.1s);
    }

    .submenu
    {
        display: block;
        width: 100%;
        list-style: none;
        padding-left: 0;
        visibility: hidden;
        .opacity(.5);
        height: 0;
        #effortless > #transform > .scale(1,0);
        transform-origin: top;
        #effortless > #animation > .animate(all, 0.1s);
        .setColor(@@theme-header-foreground, @navBackground);
        border-left: 4px solid @color-accent1-base;

        > li
        {
            padding: .25em 0 .25em 1.5em;
            &:hover
            {
                .inverted;
            }
        }
    }

    > *
    {
        max-width: @navWidth;
    }

    img
    {
        #effortless > #layout > .max-size(@thumbSize);
    }

    > .nav-wrapper > .navbar-nav
    {
        > li
        {
            width: 100%;

            &.header
            {
                border-bottom: 1px solid lighten(@@theme-header-background, 1%);
                background-color: @@theme-header-background;
                padding: @vPadding @hPadding;

                span
                {
                    font-size: @font-xsmall;
                    font-weight: bold;
                }
            }

            &.profile
            {
                padding-top: (@vPadding * 2);
                padding-bottom: (@vPadding * 2);

                .fa-caret-down
                {
                    float: right;
                }

                .button
                {
                    text-align: left;
                    .setColor(@@theme-header-foreground, @navBackground);

                    img
                    {
                        #effortless > #layout > .max-size((@thumbSize * 1.5));
                        margin-right: (@hPadding/2);
                    }

                    span
                    {
                        font-size: @font-xxsmall;
                        max-width: 6em;
                        vertical-align: top;
                    }
                }

                .dropdown-menu
                {
                    margin-top: (-@thumbSize * 1.4);
                }

                img
                {
                    .border-radius(25%);
                    border: 3px solid @brand-danger;
                }

                &.online
                {
                    img
                    {
                        border-color: @brand-success;
                    }
                }
            }

            .badge, .nav-indicator
            {
                float: right;
                max-width: 5.25em;
                .text-overflow();
                margin-top: (@vPadding /2);
                margin-right: 1em;
            }

            .badge
            {
                padding: .25em .5em;
            }

            > div 
            {
                > span
                {
                    max-width: 6.75em;
                    .text-overflow();
                    font-size: @font-xsmall;
                    line-height: 2em;
                    padding-left: .25em;
                }

                > i
                {
                    margin-right: (@hPadding/2);
                    vertical-align: top;
                    font-size: @font-xsmall;
                    line-height: 2em;
                    padding-left: 1em;
                }

                >.badge
                {
                    line-height: 1.4em;
                    font-weight: normal;
                    font-size: @font-xxsmall;
                }

                &:hover, &:focus
                {
                    background-color: @@theme-header-background;
                    color: @@theme-header-foreground;
                }
            }
        }
    }
}

