@navWidth: (@thumbSize * 4.5);
@navColor: darken(@@theme-header-background, 10%);

.theme-wrapper
{
    min-height: 100%;
    background: @navColor;
}

.content-wrapper
{
    min-height: (@thumbSize / 2);
    margin-left: @navWidth;
    background: url('/resources/whitey.jpg');
    min-height: 500px;

    @media @mq-mobile {
        margin-left: 0;
    }

    @media @mq-landscape {
        margin-left: 0;
    }

    @media @mq-tablet {
        margin-left: 0;
    }
}

nav.vertical
{
    width: @navWidth;
    position: absolute;
    background: @navColor;

    >*
    {
        margin: 0;
        display: block;
        width: 100%;
    }

    .dropdown.profile
    {
        > a 
        {
            background: @navColor;
            color: @@theme-header-foreground;
            padding-bottom: 0px;
            vertical-align: bottom;

            > img
            {
                max-width: (@thumbSize * 1.5);
                max-height: (@thumbSize * 1.5);
                #effortless > #background > .rounded(15%);
                margin: 0 @hPadding 0 0;
            }

            > span
            {
                max-width: (@thumbSize * 1.5);
            }

            > i
            {
                vertical-align: bottom;
            }
        }
    }
}

// Indicates that this navigation section should not collapse
.nav-no-collapse
{
    ul
    {
        margin-top: 0;
        margin-bottom: 0;
    }

    .nav > li{float: left;}
}

.nav
{
    .dropdown-menu
    {
        padding-top: 0px;
        padding-bottom: 0px;

        .header, .footer, .header a, .footer a
        {
            .bg-base;
            text-align: center;
            font-weight: bold;
            font-size: @font-xxsmall;
            padding: (@vPadding / 2) (@hPadding / 2);

            &:hover
            {
                .bg-base;
            }
        }

        > li
        {
            a
            {
                padding: (@vPadding / 2) (@hPadding / 2);

                &, & .content
                {
                    font-size: @font-xsmall;
                }

                > * 
                {
                    display: inline-block;
                    vertical-align: middle;
                }

                &:hover
                {
                    background: lighten(@@theme-header-background, 50%);
                }

                > i
                {
                    margin-right: (@hPadding / 2);
                }
            }
        }

        .item
        {
            a
            {   
                header
                {
                    font-size: @font-xxsmall;
                    font-weight: bold;
                }

                .content
                {
                    margin: 0 (@thumbSize * 1.2) 0 0;
                    max-width: (@thumbSize * 4);
                    .text-overflow();
                }

                .time
                {
                    color: @color-accent1-base;
                    position: absolute;
                    right: @hPadding;
                    font-size: @font-xxsmall;
                    line-height: @font-small;
                    height: @font-small;
                    display: inline-block;
                }
            }

            img
            {
                max-width: @thumbSize;
                max-height: @thumbSize;
                .border-radius(50%);
                border: 3px solid @@theme-header-foreground;
                margin-right: (@hPadding /2);
            }
        }

        &.messages
        {
            .item 
            {
                .content
                {
                    overflow: visible;
                    text-overflow: inherit;
                    white-space: normal;
                    margin: 0;
                    font-size: @font-xxsmall;
                    width: (@thumbSize * 6);
                    max-width: (@thumbSize * 6);
                }

                .time
                {
                    display: block;
                    position: static;
                    text-align: right;
                }
            }
        }
    }
}

.nav-search
{
    //overflow: hidden;

    .button
    {
        float: right;
    }

    .dropdown-search
    {
        display: block;
        right: 0;
        position: absolute;
        width: (@thumbSize * 4);
        z-index: 1;
        overflow: hidden;
        width: 0;
        //.transition(left 0.25s ease-out 0s, right 0.25s ease-out 0s);

        form
        {
            padding: 0;

            .form-group
            {
                width: 100%;
            }

            .form-control
            {
                #effortless > #text > .placeholder(lighten(@@theme-header-background, 20%));
                min-height: @thumbSize;
                background-color: @@theme-header-foreground;
                color: @@theme-header-background;
                padding: @vPadding @thumbSize @vPadding @hPadding;
                width: 100%;
                margin: 0;
                border-radius: 0;
                box-shadow: none !important;
            }
        }

        .nav-search-icon
        {
            color: @@theme-header-background;
            position: absolute;
            cursor: pointer;
            .size(@thumbSize);
            line-height: @thumbSize;
            text-align: center;
            right: 0;
        }

    }
}

nav
{
    .dropdown.profile
    {
        a > img
        {
            .border-radius(50%);
            border: 3px solid @@theme-header-foreground;
            max-height: (@thumbSize*.8);
            margin-right: @hPadding;
        }

        a > span
        {
            max-width: (@thumbSize * 2);
            font-size: @font-xsmall;
            .text-overflow();
            vertical-align: inherit;
        }

        &.online a > img
        {
            border: 3px solid @brand-success;
        }
    }
}

// Usually the main horizontal nav bar across the top of the page
nav.navbar
{
    background: @@theme-header-background;
    border: 0 none;
    #effortless > #background > .rounded(0);
    margin: 0;
    min-height: @thumbSize;
    color: @@theme-header-foreground;
    #effortless > #shadow > .drop(0px, 1px, 3px, 0px, fadeout(@@theme-header-background, 80%));

    .navbar-header
    {
        float: left;
    }

    // The brand area for the navbar
    .navbar-brand
    {
        padding: @vPadding @hPadding;
        width: @navWidth;
        background-color: @navColor;

        //  The brand image
        img
        {
            display: inline-block;
            height: 3rem;
        }

        // The title area
        span
        {
            margin-left: @hPadding;
            color: @@theme-header-foreground;
            font-weight: bold;
        }
    }

    .dropdown
    {
        .dropdown-toggle
        {
            padding-right: (@hPadding / 2);
            padding-left: (@hPadding / 2);

            > i{padding: (@hPadding / 4);}

        }

        &.icon
        {
            .badge
            {
                .bg-base;
                padding: 0;
                .border-radius(50%);
                display: block;
                font-size: @font-xxsmall;
                .size(@font-small);
                line-height: @font-small;
                position: absolute;
                right: (@font-xxsmall * .6);
                text-align: center;
                top: (@font-xxsmall * .6);
            }

            .dropdown-toggle
            {
                padding: 0;
            }
        }
    }

    // All buttons displayed in the header
    .button, button, ul li .button
    {
        #effortless > #button > .reverse();
        #effortless > #background > .rounded(0);
        margin: 0;
        padding: 0;
        min-width: @thumbSize; 
        height: @thumbSize;
        line-height: @thumbSize;

        // TODO: Fix the visited and hover so the colours do not need to be specified
        &:visited
        {
            color: @@theme-header-foreground;
        }

        &:hover
        {
            color: @@theme-header-background;
        }
    }

    form
    {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}