doctype html
// if lt IE 7
  <html class='no-js lt-ie9 lt-ie8 lt-ie7' lang='en' xmlns='http://www.w3.org/1999/xhtml' xmlns:fb='https://www.facebook.com/2008/fbml' itemscope='itemscope' itemtype='http://schema.org/Product'>
// if IE 7
  <html class='no-js lt-ie9 lt-ie8' lang='en' xmlns='http://www.w3.org/1999/xhtml' xmlns:fb='https://www.facebook.com/2008/fbml' itemscope='itemscope' itemtype='http://schema.org/Product'>
// if IE 8
  <html class='no-js lt-ie9' lang='en' xmlns='http://www.w3.org/1999/xhtml' xmlns:fb='https://www.facebook.com/2008/fbml' itemscope='itemscope' itemtype='http://schema.org/Product'>
<!--[if gt IE 8]><!-->
html(class='no-js', lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    .content
      include ../partials/header
      block content

    include ../partials/footer

    include ../includes/foot