h1 Define a 'content' block to see the content here.
h2 You can also define the following variables in a 'vars' block
dl
    dt: dfn angularApp
    dd boolean | ndicates if this is an angular application

    dt: dfn appTitle
    dd string | the title to put in the title area

    dt: dfn bodyAttributes
    dd the title to put in the title area

    
